.img{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
}

.rectangle {
    position: absolute;
    width: 462px;
    height: 702px;
    left: 878px;
    top: 178px;
    background: #303030;
    background-blend-mode: overlay;
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px;
}